@model RepoCat.Portal.Areas.Catalog.Models.SearchIndexViewModel

@{
    ViewData["Title"] = "Home Page";
    string initialDisplay = Model?.Result != null ?"" : "display: none;";

}

<partial name="_SearchFormPartial" for="@Model" />

<div id="searchResults" style="@initialDisplay">
@if (Model.Result != null)
{
    await Html.RenderPartialAsync("_SearchResultPartial", Model.Result);
}
</div>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            @if (Model?.Repository == null)
            {
                @:$('#selectedRepo option')[0].selected = true;
            }

            $('#searchQuery').keypress(function (e) {
                var key = e.which;
                if(key === 13)  // the enter key code
                {
                    $('#searchBtn').click();
                    return false;  
                }
            });  
            //RegexColorizer.addStyleSheet();
            RegexColorizer.colorizeAll();

            $("#searchBtn").click(function () {
                var overlay = $(this).closest('.card').find('.overlay');
                $(overlay).fadeIn();

                var queryString ='?query=' + encodeURIComponent($('#searchQuery').val()) + '&isRegex=' + $('#isRegex').is(':checked');
                var url = '@Url.Action("Search", new {repositoryName = "___repoName___"})' + queryString;
                url = url.replace("___repoName___", $('#selectedRepo').val());
                $.get(url,
                    function (data) {
                        $(overlay).fadeOut();
                        $('#searchResults').fadeIn();
                        $("#searchResults").html(data);
                        RegexColorizer.colorizeAll();

                    });
                var historyUrl = '@Url.Action("GetSearchResultPage",new {repositoryName = "___repoName___"})' + queryString;
                historyUrl = historyUrl.replace("___repoName___", $('#selectedRepo').val());

                history.pushState(null, null,historyUrl);
            });
        });
    </script>
}