@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<partial name="_SearchFormPartial" for="@Model"/>

<div id="searchResults" style="display: none;"></div>



@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#selectedRepo option')[0].selected = true;

            $("#searchBtn").click(function () {
                var overlay = $(this).closest('.card').find('.overlay');
                $(overlay).fadeIn();
                $.get('@Url.Action("Search")?repositoryName=' + $('#selectedRepo').val() + '&query=' + $('#searchQuery').val() + '&isRegex=' +  $('#isRegex').is(':checked'),
                    function (data) {
                        $(overlay).fadeOut();
                        $('#searchResults').fadeIn();
                        $("#searchResults").html(data);

                });
            });
        });
    </script>
}