@{
    ViewData["Title"] = "RepoCat - About";
}

<h1>RepoCat</h1>
<h2>A Repository Catalog</h2>
<p>This is a simple open-source project for providing a searchable overview of contents in complex code repositories.</p>
<a href="https://github.com/bartosz-jarmuz/RepoCat" target="_blank">https://github.com/bartosz-jarmuz/RepoCat</a>

<h4>Open-source attribution</h4>
<p>This site is created using lots of open source / free components, such as:</p>
<ul>
    <li>Layout by <a href="https://coreui.io">CoreUI</a></li>
    <li><a href="https://www.iconfinder.com/icons/185531/cat_laptop_icon">https://www.iconfinder.com/icons/185531/cat_laptop_icon</a></li>
    <li><a href="https://github.com/Fody/Costura">https://github.com/Fody/Costura</a></li>

</ul>