@{
    ViewData["Title"] = "RepoCat - About";
}

    <div class="row">
        <div class="col-md-8">
                <div class="card card-body">

                    <div class="row">
                        <div class="col-md-4">
                            <img src="~/images/cats/cat_laptop256.png" width="244" height="244" alt="Your repository catalog">
                        </div>
                        <div class="col-md-8 align-self-center">
                            <h1 style="font-family: rockwell; font-weight: bolder">RepoCat</h1>
                            <h2 style="font-family: rockwell; font-weight: bold;">Your Repository Catalog</h2>
                            <p>This is a simple open-source project for providing a searchable overview of contents in complex code repositories.</p>
                            <h4>Features:</h4>
                            <ul>
                                <li>Multiple repository support</li>
                                <li>Keyword searching in project names, descriptions and tags</li>
                                <li>Regular expression based search</li>
                            </ul>
                            <h4>More:</h4>
                            <p>
                                <a href="https://github.com/bartosz-jarmuz/RepoCat" target="_blank" class="btn btn-brand btn-sm btn-github" style="margin-bottom: 20px">
                                    <i class="fab fa-github"></i>
                                    <span>See source code</span>
                                </a>
                                <span>
                                    <a class="github-button" data-size="large" href="https://github.com/bartosz-jarmuz/RepoCat" data-icon="octicon-star" aria-label="Star bartosz-jarmuz/RepoCat on GitHub">or give a star</a>
                                </span>

                            </p>

                        </div>

                    </div>
                </div>
        </div>
    </div>

<div class="row">
    <div class="col-md-8 ">
        <div class="card card-body">
            <h4>Open-source attribution</h4>
            <p>This site is created using lots of open source / free components, such as:</p>
            <ul>
                <li><a href="https://github.com/ntkme/github-buttons">Github buttons</a></li>
                <li><a href="https://github.com/slevithan/regex-colorizer">Regex colorizer</a></li>
                <li><a href="https://github.com/select2/select2/issues/3302">Select2 select boxes</a></li>
                <li><a href="https://coreui.io">CoreUI (including all the stuff its using)</a></li>
                <li><a href="https://www.iconfinder.com/iconsets/cat-force">Cat Icons</a></li>
                <li><a href="https://github.com/Fody/Costura">https://github.com/Fody/Costura</a></li>
            </ul>
        </div>
    </div>
</div>
@section Scripts
{
    <script async defer src="https://buttons.github.io/buttons.js"></script>
}
