@{
    ViewData["Title"] = "RepoCat - About";
}

<h1>RepoCat</h1>
<h2>A Repository Catalog</h2>
<p>This is a simple open-source project for providing a searchable overview of contents in complex code repositories.</p>
<a href="https://github.com/bartosz-jarmuz/RepoCat" target="_blank">https://github.com/bartosz-jarmuz/RepoCat</a>

