@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<partial name="_SearchFormPartial" for="@Model"/>

<div class="row">
    <div class="col-md-12">
        <div class="card" id="searchResultsCard" style="display: none;">
          
            <div class="card-header">
                <strong>Search results</strong>
            </div>
            <div class="card-body">
                <div id="searchResults"></div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#selectedRepo option')[0].selected = true;

            $("#searchBtn").click(function () {
                var overlay = $(this).closest('.card').find('.overlay');
                $(overlay).fadeIn();
                $.get('@Url.Action("Search")?repositoryName='+ $('#selectedRepo').val() + '&query=' + $('#searchQuery').val(),
                    function (data) {
                        $(overlay).fadeOut();
                        $('#searchResultsCard').fadeIn();
                        $("#searchResults").html(data);

                });
            });
        });
    </script>
}