@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div> 
        <label>Search</label>
        <input type="text" />
        <input type="button" value="Search"/> 
    </div>
</div>
