.cm-tag, .cm-bracket, .cm-string, .cm-attribute {
    font-weight: 100 !important;
}

.CodeMirror pre {
    font-weight: 900 !important;
    font-family: monospace !important;
}

.project-card {
    
}

.project-card .header {
    font-size: 15px
}

.compontents-list {
    padding: 0;
    list-style: none;
}

.project-card .component {
    position: relative;
    padding: 1rem 0rem 1rem 0rem;
    border-bottom: 1px solid #c8ced3
}

.project-card .component-main {
    border-right: 1px solid #c8ced3
}

.project-card .component:hover {
    background: #f0f3f5
}

.project-card .component .component-label {
    font-weight: bold !important;
}

.project-card .component .description {
    font-size: 13px
}

.project-card .title {
    font-weight: 700 !important;
}

.project-info {
    padding: 1rem;
    border-right: 1px solid #c8ced3;
}

.project-info dt {
    font-weight: bold;
    font-size: 12px;
}

.project-info dd {
    color: #23282c;
    border-bottom: 1px solid #c8ced3;
    margin-bottom: 15px;
}

.project-info .project-path {
    font-size: 12px;
}   
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.container-fluid > .animated {
    margin-top: 24px !important;
}


.tag a{
    color: #000;
    font-weight: normal;
    text-decoration: none;
}

.overlay {
    z-index: 50;
    background: rgba(255,255,255,0.7);
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.overlay > .busy-spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
}

.card.condensed{
    margin-bottom: 0.3rem;
}

.badge-large {
    font-size: 100% !important;
    font-weight: 600;
}

.collapseAllToggle {
    font-size: 75% !important;
    color: #808080;
}

.badge-tag {
    background-color: #ffc107 !important;
    color: #23282c !important;
}

.badge-warning {
    background-color: #ff7910 !important;
}

.badge-inherit {
    position: inherit !important;
}
td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}

div.slider {
    display: none;
}

#ResultsTable_wrapper div.dtsp-columns-5 div.dtsp-topRow {
    flex-direction: inherit !important;
}
#ResultsTable_wrapper div.dtsp-columns-5{
    padding-left: 0%;
    padding-right: 0%;
}

.t {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    font-style: normal;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #4dbd74;
}

#ResultsTable td {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}