@page
@model RepoCat.Portal.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>RepoCat</h1>
<h2>A Repository Catalog</h2>
<p>This is a simple & open-source project for providing an overview of contents in complex code repositories</p>
<p>https://github.com/bartosz-jarmuz/RepoCat</p>

