@model RepoCat.Portal.Areas.Catalog.Models.PropertyFilterBadgeViewModel

<span class="badge badge-property-name @Model.AdditionalClass" style="cursor: pointer" data-property="@Model.PropertyFilter.Key" data-toggle="tooltip" 
      title="Click to add a '@Model.PropertyFilter.Key' filter">
    <i class="fas fa-plus"></i>&nbsp;@Model.PropertyFilter.Key (@Model.PropertyFilter.Values.Count)
</span>

