@using RepoCat.RepositoryManagement.Service;
@model RepositoryQueryParameter

@{ 
    var orgName = Model.OrganizationName;
    var repoName = Model.RepositoryName;
    if (orgName == "*")
    {
        orgName = "All organizations";
    }
    if (repoName == "*")
    {
        repoName = "All repositories";
    }

    var url = @Url.Action("Index", "Repository", new { organizationName = orgName, repositoryName = orgName });

    if (Model.OrganizationName == "*" ||  Model.RepositoryName == "*")
    {
        url = @Url.Action("GetSearchResultPage","Search") + $"?org={Model.OrganizationName}&repo={Model.RepositoryName}&query=&isRegex=false";
    }
}

<a class="badge badge-primary tag badge-large" data-toggle="tooltip" data-placement="top" title="View repository content" data-delay='{"show":"500"}'
    href="@url">
    <i class="fab fa-codepen font-weight-light"></i>&nbsp;@orgName - @repoName
</a>


