@using RepoCat.RepositoryManagement.Service;
@model IReadOnlyCollection<RepositoryQueryParameter>


    @foreach (RepositoryQueryParameter item in Model)
    {
        <a class="badge badge-primary tag badge-large"
           href="@Url.Action("Index", "Repository", new { organizationName = item.OrganizationName, repositoryName = item.RepositoryName })">
            <i class="fab fa-codepen font-weight-light"></i>&nbsp;@item.OrganizationName - @item.RepositoryName
        </a>
    }


