@model SearchIndexViewModel

<div class="row">
    <div class="col-md-12">

        <div class="card">
            <partial name="_busy-spinner" />

            <div class="card-header">
                <strong>Repository search</strong>
            </div>
            <div class="card-body">
                <div class="form-horizontal">
                    <div class="form-group row">
                        <div class="col-md-9">
                            <input type="text" id="searchQuery" class="form-control" placeholder="Search...">
                        </div>
                        <div class="col-md-3">
                            <button type="submit" id="searchBtn" class="btn btn-sm btn-primary">
                                <i class="fa fa-dot-circle-o"></i> Search
                            </button>
                        </div>
                    </div>
                    <div class="form-check checkbox">
                        <input class="form-check-input" id="isRegex" type="checkbox" value="">
                        <label class="form-check-label" for="isRegex">Is Regex search?</label>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="multiple-select">Select repositories:</label>
                        <div class="col-md-9">
                            <select class="form-control" id="selectedRepo" asp-for="Repository" asp-items="@(new SelectList(Model.Repositories))" size="5"></select>
                        </div>
                    </div>
                </div>
            </div>
         
        </div>
    </div>
</div>