@model RepoCat.Portal.Areas.Catalog.Models.TagBadgeViewModel

<a class="badge badge-warning tag" href="@Url.Action("GetSearchResultPage", "Search", new { repositoryName = @Model.RepositoryName, query = Model.TagText})"><i class="fa fa-tag"></i>&nbsp;@Model.TagText</a>