td.expand-table-row {
    background: url('../../images/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.child-row-shown td.expand-table-row {
    background: url('../../images/details_close.png') no-repeat center center;
}

div.slider {
    display: none;
}

#SearchPanesHost div.dtsp-columns-4 div.dtsp-topRow {
    flex-direction: inherit !important;
}
#SearchPanesHost div.dtsp-columns-4 {
    padding-left: 0%;
    padding-right: 0%;
}

#ResultsTable td.break-word {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

#ResultsTable td.break-all {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

#ResultsTable dt {
    font-weight: bold;
    font-size: 12px;
}

#ResultsTable dd {
    color: #23282c;
    margin-bottom: 10px;
}

.search-panes.card {
    margin-bottom: 0;
}

.inline-filter {
    margin: 3px 1px;
}

#ResultsTable_length{
    display: inline;
    
}


#ResultsTable_length > label{
    display: inline;
    margin-bottom: 0px;
}

#ResultsTable_info {
    vertical-align: middle;
    padding-top: 0px;
    float: right;
}

.column-hide:hover {
    background-color: #e4e5e6;
}
 
.name-cell dd {
    font-size: smaller;
}

.project-card-active{
     /*box-shadow: 0 0 0 99999px rgba(0, 0, 0, .5);*/
}

.accuracy-score {
    font-size: xx-small;
    vertical-align: middle !important;
    color: #909090;
    text-align: center !important;
}
