/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.container-fluid > .animated {
    margin-top: 24px !important;
}

.overlay {
    z-index: 50;
    background: rgba(255,255,255,0.7);
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

    .overlay > .busy-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -15px;
        margin-top: -15px;
        color: #000;
        font-size: 30px;
    }


.collapseAllToggle {
    font-size: 75% !important;
    color: #808080;
}

.text-secondary {
    color: #717171 !important;
}

.show-more-link {
    cursor: pointer;
    font-size: x-small;
    color: #63c2de;
}

    .show-more-link:before {
        content: "\00a0 ";
    }

.select2-deferred {
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
    font-size: small !important;
    background-color: inherit;
    height: 25px !important;
    box-sizing: border-box;
    margin: 0;
    vertical-align: middle;
    line-height: inherit;
    display: inline-block !important;
    padding-bottom: .5em;
    padding-left: .3em;
}

.select2-deferred + .select2-container {
        display: inline-block !important;
}

.select2-deferred + .select2-container .select2-selection--single {
        height: 25px !important;
}
.select2-deferred + .select2-container .select2-selection--single .select2-selection__rendered {
        line-height: inherit;
}

.search-mark {
    background-color: #ffcd35 !important;
    color: black;
}

.share-link {
    padding: 0.2rem 0.5rem;
    font-size: 0.665625rem;
    font-weight: 500;
    line-height: 0.8;
}