/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.container-fluid > .animated {
    margin-top: 24px !important;
}

.overlay {
    z-index: 50;
    background: rgba(255,255,255,0.7);
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.overlay > .busy-spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
}


.collapseAllToggle {
    font-size: 75% !important;
    color: #808080;
}

.text-secondary {
    color: #717171 !important;
}

.show-more-link {
    cursor: pointer;
    font-size: smaller;
    color: #63c2de;
}
.show-more-link:before {
     content: "\00a0 ";
}

