<ul class="nav navbar-nav d-md-down-none mr-auto">
    <li class="nav-item px-3">
        <a class="nav-link" asp-area="Catalog" asp-controller="Search" asp-action="Index">Search</a>
    </li>
    <li class="nav-item px-3">
        <a class="nav-link" asp-controller="Home" asp-action="About">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" role="button" href="#" data-toggle="tooltip" data-trigger="focus" onclick="alert(this.title);" title="Press CTRL+F5 or hold CTRL while clicking on refresh button to clear cache" >
            <i class="fas fa-sync-alt"></i>
        </a>
    </li>
</ul>
