

    <header class="app-header navbar">
        <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
            <img class="navbar-brand-full" src="~/images/banner.png" width="155" height="55" alt="Your repository catalog">
            <img class="navbar-brand-minimized" src="~/images/cats/cat_laptop64.png" width="44" height="44" alt="Your repository catalog">
        </a>
        <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
            <span class="navbar-toggler-icon"></span>
        </button>

        <partial name="_app-header-nav" />
        
        <ul class="nav navbar-nav ml-auto ">
            <li id="NavHeaderStatsContainer" style="min-width: 120px;">
                <div style="color: #20a8d8" class="busy-spinner la-ball-circus">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </li>
        </ul>

    </header>
