<div class="overlay" style="display: none;">
    <div style="color: #20a8d8; top: 10em;" class="busy-spinner la-ball-circus" >
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>