@using RepoCat.Portal.ViewComponents
<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" asp-area="Catalog" asp-controller="Search" asp-action="Index" >
                <i class="nav-icon icon-magnifier"></i> Search
            </a>
        </li>
        <li class="nav-title">Connected repositories</li>
          
            <cache expires-after="@TimeSpan.FromMilliseconds(500)">
                @await Component.InvokeAsync("RepositoryList")
            </cache>
    </ul>
</nav>
