@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <div class="text-center">

            <h1 class="text-danger">Oops!</h1>
            <h2 class="text-danger">Something went wrong while processing your request.</h2>
            <h5 class="text-danger">@TempData["Error"]</h5>

            <img src="~/images/cats/cat_paper256.png" class="mx-auto d-block" alt="Log investigation">
            <br/>
            <span class="text-danger">Your error has been logged and a dedicated support team is already investigating.</span>
        </div>
    </div>
</div>
