@{
    ViewData["Title"] = "Not found";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <div class="text-center">

            <h1 class="text-danger">Oops!</h1>
            <h2 class="text-danger">404 - The specified page was not found.</h2>
            <h5 class="text-danger">@TempData["Error"]</h5>

            <img src="~/images/cats/cat_ass256.png" class="mx-auto d-block" alt="Nothing, nowhere">
            <br/>
            <span class="text-danger">We looked everywhere, and found nothing.</span>
        </div>
    </div>
</div>
